.ui-multiselect {
    width: 100% !important;
    overflow: hidden;
    border-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.ui-multiselect div.available,
.ui-multiselect div.selected {
    width: 50% !important;
    border: 0;
}

.ui-multiselect .connected-list li {
    overflow: hidden;
    height: 28px;
    margin: 0;
    padding: 4px 20px 4px 5px;
    background: #ffffff;
    font-size: 13px;
    line-break: 28px;
}


.ui-multiselect .connected-list li a.action {
    top: 0; bottom: 0;
    width: 15px;
}

.ui-multiselect .connected-list li a.action .ui-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ui-multiselect .connected-list.ui-sortable li {
    padding-left: 20px;
}

.ui-multiselect .connected-list li:nth-child(odd) {
    background: #f0f4f7;
}

.ui-multiselect .connected-list li:hover {
    background: #fffad6;
}

.ui-multiselect .connected-list li .ui-icon-arrowthick-2-n-s {
    cursor: move;
}

.ui-multiselect .connected-list li .ui-icon-minus {
    cursor: pointer;
}

.ui-multiselect .count {
    padding: .3846rem .7692rem;
}

.ui-multiselect .ui-widget-header {
    padding: 10px;
    font-size: inherit;
}

.ui-multiselect .ui-widget-header a {
    margin: 0;
    padding: .3846rem .7692rem;
    color: #fff;
}

.ui-multiselect input.search {
    width: 65%;
    height: auto;
    padding: .3846rem .7692rem;
    margin: 0;
    border: 1px solid #b3b3b3;
    color: #566b8d;
}
